<html>
    <body>
        <div class='errors'>
            <%if(errosValidacao){%>
                <ul>
                    <% for(var i = 0; i < errosValidacao.length; i++){ %>
                        <li><%= errosValidacao[i].param %> - <%= errosValidacao[i].msg %></li>
                    <% } %>
                </ul>
            <%}%>
        </div>
        <form action='salva' method='post'>
            <div>
                <label for='titulo'>Titulo</label>
                <input type='text' id='titulo' name='titulo' value='<%= produto.titulo %>' placeholder='Coloque o Titulo d Livro'>
            </div>


            <div>
                <label for='preco'>Preco</label>
                <input type='text' id='preco' name='preco' value='<%= produto.preco %>' placeholder='99.99'>
            </div>


            <div>
                <label for='descricao'>Descrição</label>
                <textarea id='descricao' cols='20' rows='10'
                             name='descricao' placeholder='Fale sobre o Livro'><%= produto.descricao %></textarea>
            </div>

            <input type='submit' value='Cadastrar'/>
        </form>
    </body>
</html>